* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  padding: 1rem;
}

form {
  display: flex;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
}

button {
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-color: #2ecc71;
  border: none;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

ul {
  overflow: auto;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.3rem;
}

li p {
  flex: 1;
}

li:hover {
  cursor: pointer;
  background: lightblue;
  border-radius: 5px;
  padding: 0.5rem;
}

.todo {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #ddd;
  margin-right: 1rem;
}

.done {
  background-color: black;
}

.scratch {
  text-decoration: line-through;
}
